<a href="https://colab.research.google.com/github/rileythejones/DS-Unit-2-Linear-Models/blob/master/RJ_assignment_regression_classification_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

Instead, predict property sales prices for **One Family Dwellings** (`BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'`). 

Use a subset of the data where the **sale price was more than \\$100 thousand and less than $2 million.** 

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.

- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Fit a ridge regression model with multiple features.
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.


## Stretch Goals
- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import pandas as pd

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [0]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [0]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [0]:
# Data cleaning remove 'TAX_CLASS_AT_TIME_OF_SALE'
# remove cat/num features with zero variance /cardinality 1
# impute values sklearn
# pandas fill na-values 

df = df[df['BUILDING_CLASS_CATEGORY']=='01 ONE FAMILY DWELLINGS']
df_sub = df[(df['SALE_PRICE']> 100000) & (df['SALE_PRICE'] < 2000000)]
df_sub = df_sub.drop(columns='EASE-MENT')
df_sub = df_sub.drop(columns='TAX_CLASS_AT_TIME_OF_SALE')
df_sub = df_sub.drop(columns='BUILDING_CLASS_CATEGORY')
df_sub = df_sub.drop(columns='APARTMENT_NUMBER')

In [76]:
df_sub.shape

(3151, 17)

In [84]:
# determining that there's zero null values
df_sub.apply(lambda x: x.isnull().value_counts())

       BOROUGH  NEIGHBORHOOD  ...  SALE_PRICE  SALE_DATE
False     3151          3151  ...        3151       3151

[1 rows x 17 columns]

Do train/test split. Use data from January â€” March 2019 to train. Use data from April 2019 to test.

In [0]:
df_sub['SALE_DATE'] = pd.to_datetime(df_sub['SALE_DATE'], infer_datetime_format=True)
cutoff = pd.to_datetime('2019-04-01')
train = df_sub[df_sub.SALE_DATE < cutoff]
test  = df_sub[df_sub.SALE_DATE >= cutoff]

In [87]:
train.shape, test.shape

((2507, 17), (644, 17))

In [89]:
train.select_dtypes(include='number').describe().T

                    count           mean  ...       75%        max
BLOCK              2507.0    6758.303949  ...    9888.5    16350.0
LOT                2507.0      75.778221  ...      70.0     2720.0
ZIP_CODE           2507.0   10993.398484  ...   11413.0    11697.0
RESIDENTIAL_UNITS  2507.0       0.987635  ...       1.0        1.0
COMMERCIAL_UNITS   2507.0       0.016354  ...       0.0        2.0
TOTAL_UNITS        2507.0       1.003989  ...       1.0        3.0
GROSS_SQUARE_FEET  2507.0    1473.744715  ...    1683.0     7875.0
YEAR_BUILT         2507.0    1944.766653  ...    1960.0     2018.0
SALE_PRICE         2507.0  621573.742321  ...  750000.0  1955000.0

[9 rows x 8 columns]

In [90]:
train.select_dtypes(exclude='number').describe().T.sort_values(by='unique', ascending=False)

                               count unique  ...      first       last
ADDRESS                         2507   2497  ...        NaT        NaT
LAND_SQUARE_FEET                2507    887  ...        NaT        NaT
SALE_DATE                       2507     68  ... 2019-01-01 2019-03-30
BUILDING_CLASS_AT_PRESENT       2507     13  ...        NaT        NaT
BUILDING_CLASS_AT_TIME_OF_SALE  2507     11  ...        NaT        NaT
NEIGHBORHOOD                    2507      7  ...        NaT        NaT
BOROUGH                         2507      5  ...        NaT        NaT
TAX_CLASS_AT_PRESENT            2507      2  ...        NaT        NaT

[8 rows x 6 columns]

In [0]:
target = 'SALE_PRICE'  # target label only 
high_cardinality = ['TAX_CLASS_AT_PRESENT', 'SALE_DATE'] # ??
features = train.columns.drop([target] + high_cardinality) 

X_train = train[features]
y_train = train[target]
X_test = test[features]
y_test = test[target]

In [92]:
X_train.head()

    BOROUGH NEIGHBORHOOD  ...  BUILDING_CLASS_AT_TIME_OF_SALE  SALE_DATE
44        3        OTHER  ...                              A9 2019-01-01
61        4        OTHER  ...                              A1 2019-01-01
78        2        OTHER  ...                              A1 2019-01-02
108       3        OTHER  ...                              A1 2019-01-02
111       3        OTHER  ...                              A5 2019-01-02

[5 rows x 15 columns]

One-hot encoding of categorical features.

In [0]:
import category_encoders as ce
encoder = ce.OneHotEncoder(use_cat_names=True)
X_train = encoder.fit_transform(X_train) # fit transform
X_test = encoder.transform(X_test) # only transform

In [94]:
X_train.head()

     BOROUGH_3  BOROUGH_4  ...  BUILDING_CLASS_AT_TIME_OF_SALE_S0  SALE_DATE
44           1          0  ...                                  0 2019-01-01
61           0          1  ...                                  0 2019-01-01
78           0          0  ...                                  0 2019-01-02
108          1          0  ...                                  0 2019-01-02
111          1          0  ...                                  0 2019-01-02

[5 rows x 3429 columns]

In [96]:
X_train.shape, X_test.shape

((2507, 3429), (644, 3429))

That's a lot of columns. I think I did something wrong.

Feature selection with SelectKBest.

In [101]:
from sklearn.feature_selection import f_regression, SelectKBest

selector = SelectKBest(score_func=f_regression, k=20)

X_train_selected = selector.fit_transform(X_train, y_train)
X_test_selected = selector.transform(X_test)
X_train_selected.shape, X_test_selected.shape

((2507, 20), (644, 20))

Feature scaling.

In [0]:
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split

Fit a ridge regression model with MULTIPLE features.

In [102]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

ridge_reg = Ridge().fit(X_train, y_train)
mean_squared_error(y_train, ridge_reg.predict(X_train))

8280649298.075487

In [0]:
alphas = []
mses = []

for alpha in range(0, 200, 1):
    ridge_reg_split = Ridge(alpha=alpha).fit(X_train, y_train)
    mse = mean_squared_error(y_test, ridge_reg_split.predict(X_test))
    print(alpha, mse)
    alphas.append(alpha)
    mses.append(mse)


%matplotlib inline
import matplotlib.pyplot as plt
plt.scatter(alphas, mses);

Mean absolute error for the test set.

In [0]:
X_train.columns

In [110]:

from sklearn.metrics import mean_absolute_error

for k in range(1, len(X_train.columns)+1): # add one to be inclusive to make 32
    
    print(f'{k} features')
    
    selector = SelectKBest(score_func=f_regression, k=k)
    X_train_selected = selector.fit_transform(X_train, y_train)
    X_test_selected = selector.transform(X_test)
    
    model = Ridge()
    model.fit(X_train_selected, y_train)
    y_pred = model.predict(X_test_selected)
    
    mae = mean_absolute_error(y_test, y_pred)
    print(f'Test Mean Absolute Error: ${mae:,.0f} \n')
    print(features[k]) # my code

1 features
Test Mean Absolute Error: $183,641

NEIGHBORHOOD
2 features
Test Mean Absolute Error: $182,596

BLOCK
3 features
Test Mean Absolute Error: $182,583

LOT
4 features
Test Mean Absolute Error: $183,434

BUILDING_CLASS_AT_PRESENT
5 features
Test Mean Absolute Error: $181,941

ADDRESS
6 features
Test Mean Absolute Error: $176,491

ZIP_CODE
7 features
Test Mean Absolute Error: $177,029

RESIDENTIAL_UNITS
8 features
Test Mean Absolute Error: $176,698

COMMERCIAL_UNITS
9 features
Test Mean Absolute Error: $171,723

TOTAL_UNITS
10 features
Test Mean Absolute Error: $171,009

LAND_SQUARE_FEET
11 features
Test Mean Absolute Error: $170,678

GROSS_SQUARE_FEET
12 features
Test Mean Absolute Error: $162,236

YEAR_BUILT
13 features
Test Mean Absolute Error: $163,143

BUILDING_CLASS_AT_TIME_OF_SALE
14 features
Test Mean Absolute Error: $162,117

IndexError: ignored